In [21]:
import pandas as pd

df = pd.read_excel(r'D:\Ai course\NAVTTAC Code\Pandas practice data.xlsx')
df.head()

,Roll number,Maths Attended,Maths Conducted,Maths Marks out of 100,Physics Attended,Physics Conducted,Physics Marks out of 100,Chemistry Attended,Chemistry Conducted,Chemistry Marks out of 50,Arts Attended,Arts Conducted,Arts Project Marks out of 50
0,10TL01,44,48,63.0,41,48,71,33,48,49.0,20,26,45
1,10TL40,42,48,67.0,48,48,93,46,48,49.0,21,26,37
2,10TL03,41,48,NaN,39,48,90,43,48,38.0,23,26,49
3,10TL04,40,48,99.0,43,48,75,42,48,NaN,20,26,48
4,10TL05,48,48,99.0,38,48,83,38,48,39.0,22,26,45

In [22]:
''' Tasks

(1) If the attendance eligibility is 70%, determine for each student, the subject they are eligible for. '''

' Tasks\n\n(1) If the attendance eligibility is 70%, determine for each student, the subject they are eligible for. '

In [23]:
df.describe()

,Maths Attended,Maths Conducted,Maths Marks out of 100,Physics Attended,Physics Conducted,Physics Marks out of 100,Chemistry Attended,Chemistry Conducted,Chemistry Marks out of 50,Arts Attended,Arts Conducted,Arts Project Marks out of 50
count,40.000000,40.0,39.000000,40.000000,40.0,40.00000,40.000000,40.0,38.000000,40.000000,40.0,40.000000
mean,42.475000,48.0,82.461538,41.850000,48.0,79.10000,39.750000,48.0,35.131579,22.650000,26.0,43.300000
std,3.768884,0.0,13.873197,3.899704,0.0,12.39065,4.459217,0.0,8.041013,2.106766,0.0,4.339443
min,36.000000,48.0,61.000000,35.000000,48.0,60.00000,31.000000,48.0,23.000000,20.000000,26.0,37.000000
25%,39.750000,48.0,67.000000,38.000000,48.0,66.00000,36.750000,48.0,29.000000,21.000000,26.0,39.000000
50%,43.000000,48.0,87.000000,42.000000,48.0,80.00000,40.000000,48.0,32.500000,22.500000,26.0,44.000000
75%,46.000000,48.0,93.500000,45.000000,48.0,90.25000,43.250000,48.0,39.750000,25.000000,26.0,48.000000
max,48.000000,48.0,99.000000,48.000000,48.0,100.00000,47.000000,48.0,50.000000,26.000000,26.0,50.000000

In [24]:
df.isnull().sum()

Roll number                     0
Maths Attended                  0
Maths Conducted                 0
Maths Marks out of 100          1
Physics Attended                0
Physics Conducted               0
Physics Marks out of 100        0
Chemistry Attended              0
Chemistry Conducted             0
Chemistry Marks out of 50       2
Arts Attended                   0
Arts Conducted                  0
Arts Project Marks out of 50    0
dtype: int64

In [25]:
df = df.dropna(axis=0)

In [27]:
df.isnull().sum()

Roll number                     0
Maths Attended                  0
Maths Conducted                 0
Maths Marks out of 100          0
Physics Attended                0
Physics Conducted               0
Physics Marks out of 100        0
Chemistry Attended              0
Chemistry Conducted             0
Chemistry Marks out of 50       0
Arts Attended                   0
Arts Conducted                  0
Arts Project Marks out of 50    0
dtype: int64

In [30]:
df.columns

Index(['Roll number', 'Maths Attended', 'Maths Conducted',
       'Maths Marks out of 100', 'Physics Attended', 'Physics Conducted',
       'Physics Marks out of 100', 'Chemistry Attended', 'Chemistry Conducted',
       'Chemistry Marks out of 50', 'Arts Attended', 'Arts Conducted',
       'Arts Project Marks out of 50'],
      dtype='object')

In [51]:

percentage_math = df['Maths Attended']/ df['Maths Conducted']*100
#df['Math_Percentage'] = percentage_math


if percentage_math >= 70:
    df['Math_Percentage'] = percentage_math

#df['Eligible'] = df['Math_Percentage']>=70

percentage_PHY = df['Physics Attended']/ df['Physics Conducted']*100
df['Physics_Percentage'] = percentage_PHY


percentage_chem = df['Chemistry Attended']/ df['Chemistry Conducted']*100
df['Chemistry_Percentage'] = percentage_chem


percentage_arts = df['Arts Attended']/ df['Arts Conducted']*100
df['Arts_Percentage'] = percentage_arts


#df.drop(['percentage'],axis=1, inplace=True)

df.head()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
df['Eligible'] = df['Math_Percentage']>=70
df

,Roll number,Maths Attended,Maths Conducted,Maths Marks out of 100,Physics Attended,Physics Conducted,Physics Marks out of 100,Chemistry Attended,Chemistry Conducted,Chemistry Marks out of 50,Arts Attended,Arts Conducted,Arts Project Marks out of 50,Math_Percentage,Physics_Percentage,Chemistry_Percentage,Arts_Percentage,Eligible
0,10TL01,44,48,63.0,41,48,71,33,48,49.0,20,26,45,91.666667,85.416667,68.750000,76.923077,True
1,10TL40,42,48,67.0,48,48,93,46,48,49.0,21,26,37,87.500000,100.000000,95.833333,80.769231,True
4,10TL05,48,48,99.0,38,48,83,38,48,39.0,22,26,45,100.000000,79.166667,79.166667,84.615385,True
5,10TL06,36,48,66.0,45,48,63,40,48,28.0,21,26,39,75.000000,93.750000,83.333333,80.769231,True
6,10TL07,47,48,99.0,38,48,62,35,48,31.0,25,26,40,97.916667,79.166667,72.916667,96.153846,True
7,10TL08,47,48,99.0,42,48,81,44,48,36.0,22,26,49,97.916667,87.500000,91.666667,84.615385,True
8,10TL09,46,48,79.0,44,48,91,33,48,29.0,23,26,37,95.833333,91.666667,68.750000,88.461538,True
9,10TL10,37,48,92.0,47,48,98,43,48,46.0,21,26,43,77.083333,97.916667,89.583333,80.769231,True
10,10TL11,39,48,65.0,48,48,65,33,48,28.0,24,26,39,81.250000,100.000000,68.750000,92.307692,True
11,10TL12,40,48,77.0,42,48,83,37,48,29.0,21,26,50,83.333333,87.500000,77.083333,80.769231,True
12,10TL13,44,48,97.0,36,48,79,41,48,27.0,24,26,46,91.666667,75.000000,85.416667,92.307692,True
13,10TL14,37,48,92.0,37,48,60,44,48,29.0,24,26,44,77.083333,77.083333,91.666667,92.307692,True
14,10TL15,45,48,99.0,38,48,73,31,48,35.0,25,26,43,93.750000,79.166667,64.583333,96.153846,True
15,10TL16,37,48,86.0,46,48,66,47,48,31.0,23,26,37,77.083333,95.833333,97.916667,88.461538,True
16,10TL17,44,48,61.0,38,48,92,44,48,48.0,20,26,46,91.666667,79.166667,91.666667,76.923077,True
17,10TL18,42,48,94.0,46,48,72,39,48,35.0,21,26,37,87.500000,95.833333,81.250000,80.769231,True
18,10TL19,46,48,98.0,38,48,81,38,48,28.0,26,26,38,95.833333,79.166667,79.166667,100.000000,True
19,10TL20,45,48,87.0,48,48,66,38,48,48.0,21,26,44,93.750000,100.000000,79.166667,80.769231,True
20,10TL21,47,48,91.0,39,48,84,35,48,50.0,25,26,38,97.916667,81.250000,72.916667,96.153846,True
21,10TL22,47,48,90.0,37,48,70,39,48,35.0,23,26,48,97.916667,77.083333,81.250000,88.461538,True
22,10TL23,40,48,76.0,38,48,86,39,48,26.0,26,26,48,83.333333,79.166667,81.250000,100.000000,True
23,10TL24,45,48,86.0,43,48,88,45,48,30.0,20,26,47,93.750000,89.583333,93.750000,76.923077,True
24,10TL25,38,48,67.0,41,48,90,45,48,34.0,23,26,39,79.166667,85.416667,93.750000,88.461538,True
25,10TL26,36,48,88.0,39,48,78,42,48,39.0,20,26,46,75.000000,81.250000,87.500000,76.923077,True
26,10TL27,45,48,61.0,46,48,63,37,48,30.0,26,26,44,93.750000,95.833333,77.083333,100.000000,True
27,10TL04,40,48,99.0,43,48,75,42,48,40.0,20,26,48,83.333333,89.583333,87.500000,76.923077,True
28,10TL29,42,48,61.0,42,48,97,40,48,42.0,25,26,46,87.500000,87.500000,83.333333,96.153846,True
29,10TL30,47,48,63.0,47,48,66,36,48,29.0,25,26,48,97.916667,97.916667,75.000000,96.153846,True
30,10TL31,43,48,93.0,39,48,93,47,48,26.0,26,26,43,89.583333,81.250000,97.916667,100.000000,True
31,10TL32,44,48,88.0,45,48,82,46,48,31.0,20,26,43,91.666667,93.750000,95.833333,76.923077,True
32,10TL33,47,48,73.0,45,48,100,40,48,31.0,22,26,48,97.916667,93.750000,83.333333,84.615385,True
34,10TL35,43,48,61.0,42,48,78,41,48,37.0,25,26,38,89.583333,87.500000,85.416667,96.153846,True
35,10TL36,38,48,77.0,36,48,64,33,48,25.0,23,26,39,79.166667,75.000000,68.750000,88.461538,True
36,10TL37,39,48,75.0,35,48,99,35,48,30.0,26,26,42,81.250000,72.916667,72.916667,100.000000,True
37,10TL38,47,48,91.0,42,48,60,38,48,45.0,21,26,48,97.916667,87.500000,79.166667,80.769231,True
38,10TL39,36,48,92.0,45,48,91,34,48,23.0,21,26,48,75.000000,93.750000,70.833333,80.769231,True
39,10TL40,42,48,67.0,48,48,93,46,48,49.0,21,26,37,87.500000,100.000000,95.833333,80.769231,True